@import "header.css";
@import "nav.css";
@import "section.css";
@import "accordion.css";
@import "slides.css";
@import "footer.css";

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

.container {
    height: 100%;
    padding: 1em;
    padding-bottom: 8em;
}